<p>
  <h2>Register</h2>

  <form [formGroup]="registerForm">
    <label for="email">Email</label>
    <input type="email" formControlName="email" required>

    <div *ngIf="registerForm.controls.email.invalid" class="alert alert-danger">
      Email invalid
    </div>

    <label for="password">Password</label>
    <input type="password" formControlName="password" required>

    <div *ngIf="registerForm.controls.password.invalid" class="alert alert-danger">
      Password invalid
    </div>

    <button (click)="submit()"><span>Register</span></button>
  </form>